.Dashboard {
  height: 100%;

  .content {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .time {
      color: grey;
      font-size: 1.5rem;
      position: absolute;
      top: 20px;
    }

    .header {
      margin-bottom: 25px;

      .country-code {
        color: grey;
        font-size: 1.5rem;
      }

      .cityName {
        margin: 0;
        font-size: 6em;
        text-transform: uppercase;
      }

    }

    .weather {
      margin-bottom: 50px;

      .image {
      }

      .description {
        text-transform: capitalize;
        font-size: 1.2rem;
      }
    }

    .mainValues {
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      .label {
        font-weight: lighter;
        font-size: 1.5rem;
      }

      .temperature, .humidity {
        font-weight: bold;
        font-size: 5rem;
      }
    }

    .refreshButton {
      position: absolute;
      bottom: 20px;
    }
  }
}
